<h1>Login</h1>

<form th:action="@{/login}" th:object="${loginCommand}" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>login_id</td>
            <td><input type="text" th:field="*{loginId}"/></td>
        </tr>
        <tr>
            <td>login_state</td>
            <td><input type="text" th:field="*{loginState}"/></td>
        </tr>
        <tr>
            <td>Login Delay Seconds</td>
            <td>
                <select id="delaySeconds" name="delaySeconds">
                    <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"
                            th:selected="${i==5}"></option>
                </select>
            </td>
            <!--            <td><input type="" th:field="*{loginState}"/></td>-->
        </tr>
    </table>

    <input type="submit"/>
</form>

<ul>
    <li>Any username will work; a random one has been prepopulated for convenience.</li>
    <li>Any password will work.</li>
</ul>